html {
    height: 100%;
  }
  
  body {
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    overflow: hidden;
  }
  
  .heart {
    width: 50px;
    height: 50px;
    background: red;
    transform: rotate(45deg);
    position: absolute;
    left: 200px;
    top: 200px;
  }
  
  .heart .left {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: -25px;
    top: 0px;
  }
  
  .heart .right {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: 0px;
    top: -25px;
  }
  
  h1, h2 {
    color: white;
    position: relative;
  }
  
  .panel {
    z-index: 1;
    padding: 40px;
    background: rgba( 255, 154, 154, 0.10 );
    box-shadow: 0 8px 32px 0 pink;
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 20px;
  }